<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Connect 4</title>
    </head>
    <body>
        <h1>Connect 4</h1>
        <h2>Rules</h2>
        <p>
            The goal of the game is to connect four of your pieces in a row.
            The pieces are represented by red and yellow circles.
            The game is played on a 7x6 grid.
            The game is played with two players.
            The first player to connect four of their pieces in a row wins.
        </p>
        <h2>How to use this site</h2>
        This site uses a clinet to play the game. 
        Follow <a href="https://github.com/mgregg99/connect-4"> this link </a> to see the source code and download the needed files.
        Enjoy!

        
    </body>
</html>